<main>
    <section class="navbar">
        <aside class='column left-nav'>
            <a ui-sref="home" class="logo">
                <img src="assets/images/chatLogo.png" alt="chat logo">
            </a>
        <h2 class="app-name"><strong>Bloc Chat</strong></h2>
            <div class="chat-rooms">
        <!-- Modal button trigger -->
            <button type="button" class="btn btn-primary btn-md" ng-click="home.open()">Create New Room</button>
                <div class="room-list" ng-repeat="room in home.rooms">{{ room.$value }}
                    <div ng-click="home.setRoom(room)">
                        <div class="room-name" ng-value="room.name"><h4>{{ room.name }}</h4></div>
                    </div>
                </div> 
            </div> 
        </div>
    </section>
    <section>    
        <div class="room-messages">
            <div class="room-title"><h1>{{ home.currentRoom.name }}</h1></div>
            <ng-include src="'/templates/messages.html'"></ng-include>
        </div> 
    </section>
</main>